.env
models2/
models2/CNN_Light_F4/
output_s2/
streamlit/


sr_output/
smieci/
tiff_to_bands/*.tif
szybkie indeksy wody/*.tif
szybkie indeksy wody/*.npy
szybkie indeksy wody/*.cpg
szybkie indeksy wody/*.dbf
szybkie indeksy wody/*.prj
szybkie indeksy wody/*.shx
szybkie indeksy wody/*.shp
szybkie indeksy wody/*.png
evoland_SR.ipynb
STAC.ipynb

